@page
@model SinusSkateboards.Pages.ThankYouModel
@{
}

<div class="text-center">
    <h3>Order successful!</h3>
    <h4>Thank you, have a gr8 sk8!</h4><br />
    <a asp-page="Index" class="btn btn-outline-info">Go to Home</a>
</div>

<div class="text-center">
    <img src="~/images/logo/@Model.StartImage" />
</div>